body
{
    background-image: url(../portfolio/background/c.jpg);
    background-size: cover;
    padding-top: 100px;
    
}

nav {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background: black;
   /* opacity: 0.5;*/
}

nav a {
    padding: 15px 0;
    background-color: black;
    color: #3498DB;
    transition: 0.3s ease-out;
    text-transform: uppercase;
}

nav a:hover {
    color: coral;
    background-color: #414141;
    text-decoration: none;
}

abc
{
    padding-top: 100px;
    padding-bottom: 65px;
    color: #AED6F1  ;
    font-family: Verdana;
    
}
bcd
{
     color: #E5E7E9 ;

}
/*cde
{
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 120px;
    color: #E5E7E9  ;
    font-size: 18px;
 
img
{
    align-items: center;
    max-width: 80%;
    height: auto;
}
}

*/


hij
{
    padding-top: 40px;
    padding-bottom: 250px;
    color: #E5E7E9;
    font-size: 18px;
}


def
{
    padding-top: 50px;
    padding-bottom: 400px;
    color: #E5E7E9;
}


efg
{
    padding-top: 50px;
    padding-bottom: 80px;
    color: #E5E7E9;
}

qwe
{
    align-content: center;
    color: #E5E7E9;
    padding-bottom: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FDFEFE  ;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}



/*link styling*/
a:link {
    color: #FDFEFE;
}

/* visited link */
a:visited {
    color: #FDFEFE;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
    text-decoration: none;
}



/*custom scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    

    
    
    

